.container {
  text-align: center;
  &__title {
    font-size: 100;
  }
  &__inputs {
    display: flex;
    justify-content: space-between;
    padding: 3% 30%;
    height: 17%;
  }
  &__inputs-content {
    display: flex;
    width: 40%;
  }
  &__input {
    width: 100%;
    font-size: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid silver;
    font-weight: 100;
  }
  &__symbol {
    padding: 5px 0 0 0;
    border-bottom: 1px solid silver;
    font-size: 30px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0% 30%;
  }
  &__content--btn {
    width: 40%;
    border-radius: 15px;
    box-shadow: none;
    background-color: rgb(236, 9, 141);
    color: white;
    border: 0;
    padding: 10px 5px;
  }
  &__content--rate {
    font-size: 30px;
    color: rgb(3, 184, 3);
  }
}
