.container {
  text-align: center;
  .container-title {
    font-size: 100;
  }
  .container-inputs {
    display: flex;
    justify-content: space-between;
    padding: 3% 30%;
    height: 17%;
    input {
      width: 40%;
      font-size: 40px;
      border: none;
      outline: none;
      border-bottom: 1px solid silver;
      font-weight: 100;
    }
  }
  .container-btn {
    width: 23%;
    border-radius: 15px;
    box-shadow: none;
    background-color: rgb(236, 9, 141);
    color: white;
    border: 0;
    padding: 10px 5px;
  }
}
