.container {
  text-align: center;
  .container__title {
    font-size: 100;
  }
  .container__inputs {
    display: flex;
    justify-content: space-between;
    padding: 3% 30%;
    height: 17%;
    input {
      width: 40%;
      font-size: 40px;
      border: none;
      outline: none;
      border-bottom: 1px solid silver;
      font-weight: 100;
    }
  }
  .container__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0% 30%;
    .container__btn {
      width: 40%;
      border-radius: 15px;
      box-shadow: none;
      background-color: rgb(236, 9, 141);
      color: white;
      border: 0;
      padding: 10px 5px;
    }
    .container__exchange-rate {
      font-size: 30px;
      color: rgb(3, 184, 3);
    }
  }
}
